**/.git
**/.gitignore
**/.vs
**/.vscode
**/bin
**/obj
**/Properties/launchSettings.json
**/*.user
**/*.dbmdl
**/*.jfm
**/azds.yaml
**/charts
**/node_modules
**/npm-debug.log
**/Dockerfile*
**/docker-compose*
**/.dockerignore
